/* *{
    outline: 1px solid red;
} */

body, html {
    min-height: 100vh;
    min-width: 50vw;
    background-color: #E3E6E6;
}

.board-square-custom{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #232F3E;
    
   
}

/* 
Modal Styling */

.custom-modal{
   position: fixed; /* Fixed position */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.4); /* Background color with opacity */
   display: none;
   
}


.custom-modal-show{

    display: block !important;
    
 }


.custom-modal-window{
    width: 30vh;
    min-width: 250px;
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid black;
  
    

}

.custom-modal-window-header{
    display: flex;
    justify-content: center;
}

.custom-modal-window-body{
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.custom-modal-window-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;

}

.custom-modal__new-game{
    display: block;
}

.custom-modal__new-game-hide{
    display: none;
}



.custom-modal-window-body__new-game{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}

.custom-modal__new-game input{
    width: 100%;
}


